@import './components/intro/intro.scss';
@import './components/sections/sections.scss';
@import './components/up/up.scss';
@import './components/projects/projects.scss';
@import './components/bg-eye/bg-eye.scss';
@import './components/info/info.scss';
@import './components/cv/cv.scss';

@font-face {
	font-family: 'Conv_Kioea';
	src: url('./fonts/Kioea.eot');
	src: local('☺'), url('./fonts/Kioea.woff') format('woff'), url('./fonts/Kioea.ttf') format('truetype'), url('./fonts/Kioea.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Myriad Pro';
	src: url('./fonts/MyriadProRegular.eot');
	src: local('☺'), url('./fonts/MyriadProRegular.woff') format('woff'), url('./fonts/MyriadProRegular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'NAMU Pro';
	src: url('./fonts/NAMU-Pro.eot');
	src: local('☺'), url('./fonts/NAMU-Pro.woff') format('woff'), url('./fonts/NAMU-Pro.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'NAMU 1750';
	src: url('./fonts/NAMU-1750.eot');
	src: local('☺'), url('./fonts/NAMU-1750.woff') format('woff'), url('./fonts/NAMU-1750.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

html {
    font-family: 'NAMU Pro', 'Arial', sans-serif;
    font-size: 12px;
    color: white;
}

body {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    max-width: 1920px;
    min-width: 960px;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    padding: 50px;
    z-index: 10;
    font-family: 'NAMU 1750', 'Arial', sans-serif;
    font-size: 2em;
}

nav a {
  margin-right: 110px;
}
nav a:last-child {
  margin-right: 0px;
}
 
a {
  position: relative;
  text-decoration: none;
  color: white;
}


.text-link:hover:after {
  content: " ";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  border-bottom: 1px solid white;
  
}

main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 180px 0 150px 0;
    /*min-width: 960px;*/
    width: 100%;
    background-color: black;    
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 15px;
}