@import './__image/_image';
@import './__name/_name';
@import './__year/_year';
@import './__item/_item';
@import './__placeholder/_placeholder';

.projects {
    display: flex;
    flex-flow: row wrap;
    width: 1000px;
    justify-content: space-between;
}