.sections__element {
    
    flex: 1 0 50%;
    height: 540px;
    max-width: 50%;
    font-size: 11.6em;
    letter-spacing: -22px;
    text-overflow: ellipsis;
    cursor: pointer;
}

.sections__element:hover {
    
    animation-duration: 0.5s;
    animation-name: text-slide;
    animation-fill-mode: forwards;
}

.sections__element a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    
}

.sections__element a:hover:after {
    display: none;
}

@keyframes text-slide {
    from {
        opacity: 1;
        letter-spacing: -22px;
    }
    to {
        opacity: 0.8;
        letter-spacing: 0px;
    }
}

@import './_art/art';
@import './_design/design';
@import './_photo/photo';
@import './_illustration/illustration';