.cv__artist-name {
    font-size: 7.33em;
    line-height: 88px;
    letter-spacing: -6px;
    text-transform: uppercase;
    -webkit-text-stroke: 2px rgba(255, 255, 255, 1);
    -webkit-text-fill-color: transparent;
}