.wrapper {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: 100%;

  @media(max-width: 480px) {
    flex-flow: column nowrap;
    overflow: scroll;
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

.wrapper div:nth-child(even) {
  padding-left: 30vw;
  @media(max-width: 480px) {
    padding-left: 0;
    
  }
}

.projectName {
  @media(max-width: 690px) {
    width: 100%;
  }
}

.projectContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 7.5vw;
  width: 50vw;
  height: 50vh;
  font-family: Mulish, Arial, sans-serif;
  font-size: 3.5vh;
  text-transform: uppercase;
  
  @media(max-width: 690px) {
    
    width: 100%;
  }
}

.link {
  color: inherit;
  text-decoration: none;
}

.decorElement {
  width: 40vw;
  height: 2px; 
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%
}

@keyframes opacity-change {
  from {
    opacity: 0;
  }  
  to {
    opacity: 1;
  }
}

.albumCovers {
  background-color: #13FF1D;
  transform: translate(-50%, -50%) rotate(-150.83deg);
  animation-duration: 0.5s;
  animation-name: opacity-change;
}



.posters {
  background-color: #FF5A13;
  transform: translate(-50%, -50%) rotate(149.01deg);
  animation-duration: 0.5s;
  animation-name: opacity-change;
}

.webDesign {
  background-color: #FFE713;
  transform: translate(-50%, -50%) rotate(149.01deg);
  animation-duration: 0.5s;
  animation-name: opacity-change;
}

.presentations {
  background-color: #1347FF;
  transform: translate(-50%, -50%) rotate(-150.83deg);
  animation-duration: 0.5s;
  animation-name: opacity-change;
}