.wrapper {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: 100%;

  @media(max-width: 480px) {
    flex-flow: column nowrap;
    overflow: scroll;
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

.projectName {
  @media(max-width: 690px) {
    width: 100%;
  }
}

.projectContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50vh;
  font-family: Mulish, Arial, sans-serif;
  font-size: 38px;
  text-transform: uppercase;
  
  @media(max-width: 690px) {
    
    width: 100%;
  }
}

.link {
  color: inherit;
  text-decoration: none;
}