@import './__introduce-wrapper/_introduce-wrapper';
@import './__artist-name/_artist-name';
@import './__artist-location/_artist-location';
@import './__central-text/_central-text';
@import './__art-description/_art-description';
@import './__introduce-left/_introduce-left';
@import './__introduce-right/_introduce-right';

.cv {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-top: 165px;
    padding: 0 200px;
    width: 100%;
}