.cv__central-text {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    position: relative;
    font-size: 3.4em;
    font-style: oblique;
    letter-spacing: 1px;
    text-transform: uppercase;
    width: 600px;
    height: 370px;
    margin-top:  55px;
}