.wrapper {
  position: relative;
}

.circleBig {
  position: absolute;
  top: 30px;
  left: -100px;
  width: 1214px;
  height: 1214px;
  border-radius: 50%;
  border: 1px solid rgba(164, 164, 164, 1)
}

.circleSmall {
  position: absolute;
  top: 177px;
  left: 125px;
  width: 56px;
  height: 56px;
  background-color: #313131;
  border-radius: 50%;
  border: 1px solid rgba(164, 164, 164, 1)
}