.back {
  position: absolute;
  top: 0;
  left: 0;
  padding: 77px 0 0 71px;
  font-size: 24px;
  font-weight: normal;

  @media (max-width: 480px) {
    padding:35px 0 0 35px;
    z-index: 100;
  }
}

.link {
  color: inherit;
  text-decoration: none;
}