@import './__element/_element';

.sections {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    width: 100%;
    background-image: url(../../images/Julia.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 100;
}