.aboutWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  min-width: 960px;
  height: 100vh;
  padding: 185px 0 90px 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  overflow-x: hidden;
  background-color: rgba(168, 181, 174, 1);

  @media (max-width: 480px) {
    position: relative;
    top: 0;
    left: 0;
    margin-right: 0;
    padding: 90px 0 60px 30px;
    transform: translate(0, 0);
    min-width: 0;
  }
}

.textArea {
  text-align: center;

  @media (max-width: 480px) {
    text-align: left;
  }
}

.header {
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 38px;
  line-height: 107.12%;
  /* identical to box height, or 41px */

  letter-spacing: -0.01em;
  text-transform: uppercase;
  padding-bottom: 50px;
}

.aboutWrapper:nth-child(3) {
  margin-top: 105px;
}