.info__header {
    font-size: 12em;
    font-style: italic;
    letter-spacing: -25px;
    text-transform: uppercase;
    -webkit-text-stroke: 2px rgba(255, 255, 255, 1);
    -webkit-text-fill-color: transparent;
}