.sections__element {
    
    flex: 1 0 50%;
    height: 540px;
    max-width: 50%;
    font-size: 5em;
    letter-spacing: -50px;
    text-overflow: ellipsis;
    cursor: pointer;
}

.sections__element:hover {
    opacity: 0.8;
    letter-spacing: 0em;
}

.sections__element a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    -webkit-text-fill-color: transparent;
}

.sections__element a:hover:after {
    display: none;
}

@import './_art/art';
@import './_design/design';
@import './_photo/photo';
@import './_illustration/illustration';