.wrapper {
  width: 100%;
  height: 100vh;
}

.bgRed {
  background-color: rgba(194, 81, 65, 1);
}

.bgYellow {
  background-color: rgba(238, 223, 83, 1);
}

.bgPurple {
  background-color: rgba(131, 41, 94, 1);
}

.bgGrenGrey {
  background-color: rgba(168, 181, 174, 1)
}