.sections__element {
    
    flex: 1 0 50%;
    height: 540px;
    max-width: 50%;
    font-size: 11.6em;
    letter-spacing: -22px;
    text-overflow: ellipsis;
    cursor: pointer;
    opacity: 0.6;
    -webkit-text-fill-color: transparent;
    transition: opacity 0.8s;
}

.sections__element:hover {
    opacity: 1;
}

.sections__element a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    
}

.sections__element a:hover:after {
    display: none;
}

@keyframes fading { 
    from {
        opacity: 0.6;
    }
    to {
        opacity: 1;
    }
}

@import './_art/art';
@import './_design/design';
@import './_photo/photo';
@import './_illustration/illustration';